<div class="icon-blocks-container">
    <div class="icon-wrapper">
        {% for block in section.blocks %}
            {% case block.type %}
                {% when "block" %}
                    <div class="icon-block">
                        <div class="icon">
                            <img src="{{ block.settings.image | img_url: 'medium'}}" alt="" srcset="">
                        </div>
                        <div class="icon-content">
                            <span>{{ block.settings.title }}</span>
                            <span>{{ block.settings.subtitle }}</span>
                        </div>
                    </div>
            {% endcase %}
        {% endfor %}
    </div>
</div>

<style>
    @media only screen and (max-width:599px){
        .icon-wrapper{
            flex-direction: column;
            max-width: 500px;
        }
    }
    .icon img{
        width: 80px;
    }
    .icon-blocks-container{
        display: flex;
        flex: 0 1 0%;
        width: 100%;
        justify-content: center;
        position: relative;
        line-height: 1.5;
        word-break: break-word;
        background-color: rgb(255, 255, 255);
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .icon-wrapper{
        display: flex;
        flex: 1 1 0%;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1000px;

    }
    .icon-block{
        display: flex;
        flex-basis: 33%;
        padding: 10px;
    }
    .icon-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .icon-content span:nth-child(1){
        font-size: 16px;
        color: rgb(12, 28, 64);
        font-style: normal;
        font-weight: bold;
    }
    .icon-content span:nth-child(2){
        font-size: 12px;
        color: rgb(12, 28, 64);
        font-style: normal;
        font-weight: normal;
    }
</style>

{% schema %}
  {
    "name": "Icon Blocks",
    "settings": [],
    "blocks":[
        {
            "type": "block",
            "name": "Block",
            "limit": 3,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image",
                    "info": "For best results, use a square image ie 200x200"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Product promo"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Subheading"
                }            
         ]
        }
    ],	
    "presets": [{
      "name": "Icon Blocks",
      "category": "Custom Block"
    }]
  }
{% endschema %}